<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    <header>
    <%- include("header.ejs") %>
    </header>

    <div class="main-content">
    
        <div class="content-block main-content-block" id="login-container">
    

    <h1 class="title_heading" >Create Account</h1>

    <form action="/createAccount" method="POST">
        <label for="firstName">First Name</label><br/>
        <input type="text" name="firstName" placeholder="First Name" required><br/>
        <label for="lastName">Last Name</label><br/>
        <input type="text" name="lastName" placeholder="Last Name" required><br/>
        <label for="email">Email Address</label><br/>
        <input type="text" name="email" placeholder="e.g. someone@email.com" required><br/>
        <label for="password">Password</label><br/>
        <input type="password" name="password" placeholder="Enter password here" required><br/>
        <label for="password2">Retype password</label><br/>
        <input type="password" name="password2" placeholder="Retype password here" required><br/>
        <input type="submit" value="Create Account"><br/>
    </form>

    <% if (error) { %>
        <p> <%= error %> </p>
    <% } %>

    <p> <%= createAccountResult %> </p>

    <p>Already have an account? Click here to login.</p>

        <form action="/login" method="GET">
            <button id="get-login-page-button" name="GetLoginPageButton" value="GetLoginPageButton">Login</button>
        </form>

    </div>
    </div>