<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    
    <header>
        <%- include("header.ejs") %>
    </header>

    <div class="main-content">
        <div class="content-block main-content-block">
    <h1 class="title_heading" >Hobbies</h1>
    
    <h2>Gym</h2>
    <p>180kg Deadlift - 19/09/2023</p>
    <img width="400" controls  src="Videos/180kg deadlift.gif" width="500"></img>
    <p>160kg Back Squat - 11/05/2024</p>
    <img width="400" controls src="./Videos/165kg squat (1).gif"></img>
    

    <h2>Thai Boxing</h2>
    <p>Interclub Sparring Fight - 05/05/2024</p>
    
    </div>
    </div>
