<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    <header>
        <%- include("header.ejs") %>
    </header>

    <div class="main-content">
        <div class="content-block main-content-block">
            <p id="last-edit-date"> Last Edited: 13th August, 2024</p>

            <div class="image-container">
                <image id="profile-img" src="./Images/profile pic.png" width="500"></image>
            </div>

            <h1 class="title_heading">Welcome to my website!</h1>
            
            <h2>Introduction</h2>
            <p>Hi! My name is Michael Gilbert. Welcome to my website!</p>
            <p>I'm a robotics engineer in the laboratory automation industry, currently striving to become a web developer.
                In my spare time, I like to workout in the gym and train Thai Boxing. You can read more about my hobbies <a
                    href="hobbies.html">here</a>.</p>
            <p>I have always had a keen interest in programming and am now exploring this passion through my job and in my
                spare time, recently delving into the world of web development. Check out my projects portfolio <a
                    href="projects.html">here</a>. I hope you enjoy visiting my website!</p>
            <h2>Background</h2>
            <p>Throughout school, I focused on STEM subjects as I enjoyed the work and performed better in these areas,
                especially maths and physics. After completing my A-Levels, I decided to study Mechanical Engineering at
                Loughborough University. I graduated in 2023 with a Master's Degree and have been working in the automation
                industry since as a robotics engineer.
            </p>
        </div>

    </div>

    
</body>
</html>