<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    
    <header>
        <%- include("header.ejs") %>
    </header>

    <div class="main-content">
        <div class="content-block main-content-block">
    <h1 class="title_heading" >Projects</h1>
    
    <p>Throughout my career, during my studies at Loughborough University and my engineering roles I have worked on a series of technical projects spanning across a diverse range of disciplines. The most noteworthy are detailed below.</p>
    <h3>Blackjack Web Application</h3>
    <form action="/blackjack" method="get"> 
    <button name="GetBlackjackPageButton" value="GetBlackjackPageButton"> Play Blackjack here</button>
    </form>
    <h3>Development of a 2D Video Game using pygame</h3>
    <image src="./Videos/sword clip.gif" width="400"></image>
    <image src="./Videos/heart clip.gif" width="400"></image>
    <image src="./Videos/fireball clip.gif" width="400"></image>
    <h3>Design and Manufacture of a novel Viscous Liquids Dispenser</h3>
    <h3>Development of an Electronic Control System for a novel Central Tyre Inflation System (CTIS) </h3>

    </div>
    </div>